body {
    height: 100%; 
    width: 100%; 
    background-image: url("https://s17.postimg.org/xzsmtrvkf/family_feud_background.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

.startGame {
    background-image: url("https://s17.postimg.org/5oboa8vu7/surveysays.png");
    height: 509px;
    width: 943px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.btn {
    margin:  550px 0px 0px 0px;
    color: yellow;
    background-color: blue;
    border: 5px solid red;
}

.quizContainer {
    height:  450px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: blue;
    padding: 15px;
    border: 5px solid red;

}
.title {
    color: black;
    font-size: 30px;
    text-align: center;

}
.question {
    width: 800px;
    font-size: 25px;
    color: blue;
    background-color:white;
    border: 5px solid red;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.option {
    width: 350px;
    display: inline-block;
    font-size: 22px;
    color: blue;
    background-color:white;
    border: 5px solid red;
    padding: 25px;
    margin:10px;
}

.option:hover {
    background-color: yellow;
    color:blue;
}

.nextButton {
    background-color: red;
    color: blue;
    width: 100px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
}

.nextButton:hover {
    background-color: yellow;
}

.resultsContainer {
    height:  450px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: blue;
    color: yellow;
    padding: 15px;
    border: 5px solid red;
    font-size: 40px;
    text-align: center;

}